* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #32A287;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 35vh;
    width: 70vw;
}

h1 {
    font-size: 26px;
    text-align: left;
}

form {
    margin: 2rem 0 1rem 0;
}

form input,select,button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


.dropdown i {
    margin-top: 1rem;
    font-size: 1rem;
}

.select-container img{
    max-width: 2.5rem;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2px;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select {
    font-size: 1.2rem;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

@media (min-width: 650px) {
    .dropdown {
        flex-direction: row;
    }
    .container {
        width: 30vw;
        padding: 2rem;
    }
    h1 {
        font-size: 32px;
    }
    .select-container {
        width: 7rem;
        padding: 0 5px;
        justify-content: center;
    }
    .select-container select {
        width: auto;
    }
    .select-container img{
        max-width: 3rem;
    }
    .dropdown i {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}


.msg {
    margin: 2rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

form button {
    height: 3rem;
    background: #33a1fd;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}



